/*  EVITARE DI USARE L'ALTEZZA NEI BLOCCHI!!!!! 
    MEGLIO IL PADDING */


/*RESET*/
* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

/* TITLE + LOGO */
header {
    background-color: white;
    padding: 20px;
}

img, h1 {
    display: inline;
    vertical-align: middle;
}

h1 {
    margin-left: 10px;
}


section {
    font-weight: 450;
    background-color: white;
    width: 900px; /*o usare la percentuale*/
    padding-left: 50px;
    padding-top: 20px;
    margin: auto;
    border-radius: 15px;
}

.one {
    margin-top: 40px;
    margin-bottom: 3px;
    padding: 20px 50px;
}

.one a {
    padding: 10px;
    text-decoration: none;
    vertical-align: middle;
}
#active {
    color: white;
    background-color: rgb(95, 158, 231);
    border-radius: 8px;
}
#inactive {
    color: gray;
    border: 1px solid gray;
    border-radius: 8px;
}


/* LISTS */
.two {
    margin-bottom: 80px;
    height: 600px;
}

ul {
    list-style-type: none;
}

li h3 {
    display: inline;
}

li .entity {
    vertical-align: middle;
    font-size: 35px;
}

/* Entity SPUNTA della sottolista */
li .check_mark {
    /*per creare il cerchio attorno all'entity*/
    width: 25px;
    height: 25px;
    border: 2px solid  rgb(63, 121, 6);
    border-radius: 50%;
    
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    color: rgb(63, 121, 6);
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
}

li span {
    margin: 5px;
}

/* Entity X della sottolista */
li .X_mark {
    /*per creare il cerchio attorno all'entity*/
    width: 25px;
    height: 25px;
    border: 2px solid  rgb(180, 12, 12);
    border-radius: 50%;
    
    display: inline-block;
    font-size: 10px;
    font-weight: 800;
    color:  rgb(180, 12, 12);
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
}

li .groups {
    padding: 5px;
    font-size: 10px;
    color: white;
    background-color: rgb(95, 158, 231);
    border-radius: 8px;
    display: inline-block;
}

/* Colori dei vari GRUPPI */
#violet {
    background-color: rgb(89, 7, 105);
}
#green {
    background-color: rgb(63, 121, 6);
}
#orange {
    background-color: rgb(236, 155, 33);
}
#pink {
    background-color: rgb(243, 70, 220);
}
#olive {
    background-color: rgb(141, 182, 95);
}